version: '3.8'

services:
  jubok-backend:
    container_name: jubok_backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=5000
    restart: unless-stopped
    networks:
      - jubok-network

networks:
  jubok-network:
    driver: bridge
